/* ウィンドウサイズ */
.inner-block {
    position: relative;
    width: calc(100% - 60px);
    margin: 0 auto;
    max-width: 1000px;
}

/* バックグラウンド */
.quiz {
    min-height: 76.5vh;
    padding: 100px 0;
    background: #ffc5c5;
}

/* 問題の上線 */
.quiz-content {
    border: 1px solid #222;
    background-color: rgba(255, 255, 255, 0.4);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    position: relative;
}

/* 問題番号 */
.qs-number {
    text-align: center;
    font-size: 26px;
    font-weight: bold;
    border-bottom: 2px solid #222;
    padding: 20px;
}

/* 問題文 */
.question {
    font-size: 32px;
    /*テキストのフォントサイズを指定*/
    font-weight: bold;
    /*テキストの太さを指定*/
    line-height: 1.8;
    /*テキストの行の高さを指定*/
    margin-bottom: 40px;
    /*要素の下側の余白（マージン）を指定*/
    position: relative;
    /*要素の配置方法を指定*/
    text-align: center;
    /*テキストの水平方向の配置を指定*/
    max-width: 1000px;
    padding: 30px 0px;
    /*要素の内側の余白（パディング）を指定*/
    margin-left: auto;
    margin-right: auto;
}

/* 解答欄の幅 */
.answer {
    display: grid;
    position: relative;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding-left: 0;
    list-style: none;
}

/* 解答欄のフレーム */
.answer li {
    position: relative;
    border: 2px solid #000;
    border-radius: 8px;
    transition: border 0.3s ease-in-out;
}

/* 解答欄のレイアウト */
.answer li label {
    color: #222;
    display: block;
    margin: 0 auto;
    height: 100px;
    display: flex;
    align-items: center;
    width: 100%;
    padding-top: 4px;
    font-weight: bold;
    font-size: 18px;
    line-height: 1.16;
    position: relative;
    transition: 0.3s ease-in-out;
    white-space: pre-wrap;
}

/* 黒点の非表示 */
/* li::marker {
    display: none;
} */

/* ？ */
.answer li label:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

/* アルファベット */
.answer li label span {
    align-items: center;
    border-right: 1px solid #000;
    content: "";
    display: flex;
    font-size: 30px;
    font-weight: bold;
    height: 60px;
    justify-content: center;
    pointer-events: none;
    text-align: center;
    width: 70px;
    z-index: 1;
}

/* 回答欄の文字 */
.answer li label p {
    text-align: center;
    font-size: 20px;
    margin: 0;
    flex-grow: 1;
    padding: 0 10px;
}


#progress-container {
    max-width: 1000px;
    height: 30px;
    border: 1px solid #ccc;
    position: relative;
}

#progress-bar {
    height: 100%;
    background-color: #4CAF50;
    width: 100%;
    position: absolute;
    transition: width 1s linear;
}